[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
black = "*"
pylint = "*"
datamodel-code-generator = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
